* {
  padding: 0;
  margin: 0;
}
.page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(24,24,28,1);
  height: 40px;
  color: #fff;
}
.page__container {
  background-color: rgba(24,24,28,1);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
.el-table {
  background-color: rgba(24,24,28,1) !important;
}
.el-form-item__label {
  color: #fff !important;
}
.el-input__wrapper {
  background-color: transparent !important;
}
.el-table tr {
  background-color: transparent !important;
}
.el-table th.el-table__cell {
  background-color: transparent !important;
}
.page__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.bgc__container .el-descriptions__title{
  color: #fff !important;
}
.bgc__container .el-descriptions__body {
  background-color: transparent !important;
}

.bgc__container .el-descriptions__label.el-descriptions__cell.is-bordered-label {
  background-color: transparent !important;
  color: #fff !important;
  font-weight: bold;
}

.bgc__container .el-descriptions__content.el-descriptions__cell.is-bordered-content {
  color: #fff !important;
}

.dashboard__center .el-statistic__head {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}
.dashboard__center__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}
.dashboard__count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  background: linear-gradient(to bottom, rgb(0, 213, 254), rgb(0, 118, 254));
  /* 裁剪背景到文字 */
  -webkit-background-clip: text;
  background-clip: text;
  /* 使文字颜色透明，显示背景 */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.dashboard__center .el-statistic__number {
  font-size: 50px;
}

.dashboard__count .el-statistic {
  display: flex;
  align-items: center;
}

.dashboard__center__trade .el-statistic__number {
  font-size: 20px;
  color: rgb(245, 154, 35);
  font-weight: bold;
  margin: 0 0 0 5px;
}

.ml10 {
  margin-left: 10px;
}
.mb10 {
  margin-bottom: 10px;
}